<div class="container">
  <h1> Lists </h1>
  <div class="container">
    <ul>
      <% @lists.each do |list| %>
        <li class="card">
          <%= link_to list.name, list_path(list), class: "card title" %>
          <%= @list.photo.key, height:300, width: 400, crop: :fill %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
