<div id="index">
  <div>
    <ul id="list-index" class="list-unstyled d-flex flex-wrap">
      <% @lists.each do |list| %>
        <li class="card m-3 col-3" id="list-item">
          <%= link_to list.name, list_path(list) %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
